{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
  <meta charset="utf-8" />
  <title> {% block title%} close{%endblock title%} </title>


</head>
<body>






{% block content%}{% endblock content%}

<script src="{% static 'angular.js' %} "></script>
<script src="{% static 'angular-ui-router.min.js' %} "></script>
<script src="{% static 'angular-route.js' %} "></script>
<script src="{% static 'app.js' %} "></script>



</body>
</html>