<h1>Article #1</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Assumenda aut, blanditiis delectus dignissimos doloremque
    error esse est exercitationem expedita minima neque optio 
    pariatur porro quidem quis, quo reprehenderit tempora temporibus?</p>

<a href="#/comments"> voir les commentaires</a>